body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.grid {
    display: grid;
    grid-template-columns: repeat(10, 60px);
    gap: 1px;
}

.cell {
    width: 60px;
    height: 60px;
    background: #CCCCCC;
    cursor: pointer;
}

.cell.active {
    background: #42B883
}

.title {
    color: red
}

.inventory {
    margin-bottom: 20px;
    text-align: center;
}

.item-drag {
    width: 60px;
    height: 60px;
    background: #42b800;
    cursor: grab;
    display: flex;
    justify-content: center;
    align-items: center;
}